
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# ========= #
# Scaleform #
# ========= #

Assets/Scaleform/
Assets/README/
Assets/materials/
Assets/meshes/
Assets/Plugins/
Assets/textures/
Assets/Scripts/CameraState.cs

Assets/Scripts/CameraState.cs.meta

Assets/Scripts/LoopAnimation.cs

Assets/Scripts/LoopAnimation.cs.meta

Assets/Scripts/Scaleform/MyCamera.cs

Assets/Scripts/Scaleform/MyCamera.cs.meta

Assets/Scripts/Scaleform/MyRTT.cs

Assets/Scripts/Scaleform/MyRTT.cs.meta

Assets/Scripts/Scaleform/TextureInSwf.cs

Assets/Scripts/Scaleform/TextureInSwf.cs.meta

Assets/Scripts/Scaleform/swfs/MainMenu.cs

Assets/Scripts/Scaleform/swfs/MainMenu.cs.meta

Assets/Scripts/Scaleform/swfs/RenderTextureDemo.cs

Assets/Scripts/Scaleform/swfs/RenderTextureDemo.cs.meta

Assets/StreamingAssets/MainMenu.as

Assets/StreamingAssets/MainMenu.as.meta

Assets/StreamingAssets/MainMenu.fla

Assets/StreamingAssets/MainMenu.fla.meta

Assets/StreamingAssets/MainMenu.swf

Assets/StreamingAssets/MainMenu.swf.meta

Assets/StreamingAssets/RenderTexture.fla

Assets/StreamingAssets/RenderTexture.fla.meta

Assets/StreamingAssets/RenderTexture.swf

Assets/StreamingAssets/RenderTexture.swf.meta

Assets/StreamingAssets/RenderTextureDemo.as

Assets/StreamingAssets/RenderTextureDemo.as.meta

Assets/StreamingAssets/StreamingAssets.as2proj

Assets/StreamingAssets/StreamingAssets.as2proj.meta

Assets/StreamingAssets/XMLExample.fla

Assets/StreamingAssets/XMLExample.fla.meta

Assets/StreamingAssets/XMLExample.swf

Assets/StreamingAssets/XMLExample.swf.meta

Assets/scenes/level_1.unity

Assets/scenes/level_1.unity.meta

Assets/scenes/main_level.meta

Assets/scenes/main_level.unity

Assets/scenes/main_level.unity.meta

Assets/scenes/main_level/LightmapFar-0.exr

Assets/scenes/main_level/LightmapFar-0.exr.meta

Assets/scenes/menu_demo.unity

Assets/scenes/menu_demo.unity.meta
